body {
  background-color: #0c656b !important; 
}

p {
  color: #8fc8d3;
}

h2 {
  color: #d6eae9;
}

.float {
  height: 100vh;
}
.live{
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

h3, small{
  color: #8fc8d3;
  font-size: medium !important;
}

.jumbo{
  background-color: #d6eae9 !important;
}